/************
 * Calendar *
 ***********/
GtkCalendar {
  color: fg_color(v);
  border: 1px solid border(normal);
  background-color: bg_color(v);
  &:selected {
    background-color: border(normal);
  }

  &.header {
    border: 1px solid border(normal);
    border-radius: 0;
    color: fg_color(v);

    &:backdrop {
      color: backdrop(fg_color(v));
      border-color: backdrop(border(normal));
    }
  }

  &.button {
    @extend %undecorated_button;
    color: fg_color(b);

    &:hover {
      @extend %undecorated_button;
      color: border(hover);
    }
    &:active {
      @extend %undecorated_button;
      color: border(active);
    }
    &:backdrop {
      @extend %undecorated_button;
      color: backdrop(fg_color(b));
    }
  }

  &:inconsistent,
  &.highlight {
    color: transparentize(fg_color(v),0.5);
  }

  &:inconsistent:backdrop,
  &.highlight:backdrop {
    color: backdrop(transparentize(fg_color(v),0.5));
  }


  &:backdrop {
    color: backdrop(fg_color(v));
    border-color: backdrop(border(normal));
    background-color: backdrop(bg_color(v));
  }
}
