/*************************
 * Check and Radio items *
 *************************/

// draw regular check and radio items using our PNG assets
// all assets are rendered from assets.svg. never add pngs directly

@each $w,$a in ('check', 'checkbox'),
               ('radio','radio') {

  //standard checks and radios
  @each $s,$as in ('','-unchecked'),
                  (':hover', '-unchecked-hover'),
                  (':active', '-unchecked-active'),
                  (':insensitive','-unchecked-insensitive'),
                  (':backdrop', '-unchecked-backdrop'),
                  (':backdrop:insensitive', '-unchecked-backdrop-insensitive'),
                  (':inconsistent', '-mixed'),
                  (':inconsistent:hover', '-mixed-hover'),
                  (':inconsistent:selected', '-mixed-active'),
                  (':inconsistent:backdrop', '-mixed-backdrop'),
                  (':inconsistent:insensitive', '-mixed-insensitive'),
                  (':inconsistent:insensitive:backdrop', '-mixed-backdrop-insensitive'),
                  (':checked', '-checked'),
                  (':checked:insensitive','-checked-insensitive'),
                  (':checked:hover', '-checked-hover'),
                  (':checked:active', '-checked-active'),
                  (':backdrop:checked', '-checked-backdrop'),
                  (':backdrop:checked:insensitive', '-checked-backdrop-insensitive') {
    .#{$w}#{$s} {
      -gtk-icon-source: -gtk-scaled(url("assets/#{$a}#{$as}.png"), url("assets/#{$a}#{$as}@2.png"));
      icon-shadow: none;
    }
  }
  @each $ms, $ma in ('', '-unchecked'),
                    (':active', '-checked'),
                    (':checked', '-checked'),
                    (':inconsistent','-mixed') {

    .view.#{$w}#{$ms}:selected,
    .list-row:selected .#{$w}#{$ms} {
      -gtk-icon-source: -gtk-scaled(url("assets/selected-#{$a}#{$ma}.png"), url("assets/selected-#{$a}#{$ma}@2.png"));
    }

    .menu .menuitem.#{$w}#{$ms},
    .popover .button.flat.#{$w}#{$ms} {

      -gtk-icon-source: -gtk-scaled(url("assets/#{$a}#{$ma}.png"), url("assets/#{$a}#{$ma}-unchecked@2.png"));
      icon-shadow: none;
      &:hover {
        -gtk-icon-source: -gtk-scaled(url("assets/selected-#{$a}#{$ma}.png"), url("assets/selected-#{$a}#{$ma}@2.png"));
      }
      &:insensitive {
        -gtk-icon-source: -gtk-scaled(url("assets/#{$a}#{$ma}-insensitive.png"), url("assets/#{$a}#{$ma}-insensitive@2.png"));
      }
      &:backdrop {
        -gtk-icon-source: -gtk-scaled(url("assets/#{$a}#{$ma}-backdrop.png"), url("assets/#{$a}#{$ma}-backdrop@2.png"));
      }
      &:backdrop:insensitive {
        -gtk-icon-source: -gtk-scaled(url("assets/#{$a}#{$ma}-backdrop-insensitive.png"), url("assets/#{$a}#{$ma}-backdrop-insensitive@2.png"));
      }
    }
  }
}

//treeview and list-rows
.view.check, .view.radio,
.list-row .check, list-row .radio {
  icon-shadow: none;
  &:selected, &:hover { icon-shadow: none; }
}

//selection-mode
@each $s,$as in ('','-selectionmode'),
                  (':hover', '-hover-selectionmode'),
                  (':active', '-active-selectionmode'),
                  (':backdrop', '-backdrop-selectionmode'),
                  (':checked', '-checked-selectionmode'),
                  (':checked:hover', '-checked-hover-selectionmode'),
                  (':checked:active', '-checked-active-selectionmode'),
                  (':backdrop:checked', '-checked-backdrop-selectionmode') {
  .view.content-view.check#{$s} {
    icon-shadow: none;
    -gtk-icon-source: -gtk-scaled(url("assets/checkbox#{$as}.png"),
                                    url("assets/checkbox#{$as}@2.png"));
    background-color: transparent;
  }
}

GtkCheckButton.text-button, GtkRadioButton.text-button {
  // this is for a nice focus on check and radios text
  padding: 1px 2px 4px;
  outline-offset: 0;
  &:insensitive,
  &:insensitive:active,
  &:insensitive:inconsistent {
    color: insensitive(fg_color(b));
    &:backdrop { color: backdrop(insensitive(fg_color(b))); }
  }
}
