/*********
 * Lists *
 *********/

.list, .list-row {
  background-color: bg_color(w);
  color: fg_color(w);
  border-width: 0px;
  &:backdrop {
    background-color: backdrop(bg_color(w));
    color: backdrop(fg_color(w));
  }
}

.list-row,
.grid-child {
  padding: 0px 2px;
  border-style: solid;
  border-width: 0px;
  border-color: bg_color(w);
}

.list-row.button,
.list-row.button:backdrop,
.list-row.button:backdrop:active,
.list-row.button:backdrop:checked,
.list-row.button:backdrop:insensitive,
.list-row.button:backdrop:insensitive:active,
.list-row.button:backdrop:insensitive:checked,
.list-row.button:insensitive:active,
.list-row.button:insensitive:checked {
  // reset button inherited stuff
  @extend %undecorated_button;
  background-color: transparentize(bg_color(v),1); // for the transition
  border-style: none; // I need no borders here
  border-radius: 0;   // and no rounded corners
  box-shadow: none;   // and no box-shadow

}

.list-row.button {
  background-color: bg_color(w);
  &:hover {
    background-color: transparentize(selection(bg, hover), 0.5);
  }
  &:active {
    background-color: selection(bg);
    box-shadow: none;
  }
  &:selected {
    &:active { box-shadow: none; }
    background-color: selection(bg);
    &:hover {
      @include button(active-hover);
    }
    &:backdrop {
      background-color: backdrop(selection(bg, backdrop));
    }
  }
  &:backdrop { background-color: backdrop(bg_color(w));}
}

.list-row:selected {
  @extend %selected_items;
  .button {
    @include button(normal);
      &.flat {
      @include button(undecorated);
    }
    &:hover {
      @include button(hover);
    }
    &:active, &:checked {
      @include button(active);
    }
    &:backdrop, &.flat:backdrop {
      @include button(backdrop);
      &:active, &:checked {
        @include button(backdrop-active);
      }
      &:insensitive {
        @include button(backdrop-insensitive);
        &:active, &:checked {
          @include button(backdrop-insensitive-active);
        }
      }
    }
    &.flat:backdrop {
      background-color: backdrop(bg_color(w));
      color: backdrop(fg_color(w));
      border-color: transparent;
    }
    &:insensitive {
      @include button(insensitive);
      &:active, &:checked { @include button(insensitive-active); }
    }
  }
}

// transition
.list-row, list-row.button {
  transition: all 300ms $ease-out-quad;
  &:hover { transition: none; }
}
