/***********
 * Sidebar *
 ***********/

.sidebar,
.sidebar .view {
  border: none;
  background-color: bg_color(w);
  &:selected {
    @extend %selected_items;
  }
  &:backdrop { background-color: backdrop(bg_color(w))}
}

// Places sidebar is a special case, since the view here have to look like chrome not content, so we override text color
GtkPlacesSidebar.sidebar .view {

  color: fg_color(w);
  background-color: transparent;

  .separator,
  .separator:backdrop { @extend .separator; }

  .image { // icons color
    color: fg_color(w);

    &:selected {
      color: selection(fg);

      &:backdrop { color: backdrop(selection(fg)); }
    }

    &:insensitive { color: insensitive(fg_color(w)); }

    &:backdrop {
      color: backdrop(fg_color(w));

      &:insensitive { color: backdrop(insensitive(fg_color(w))); }
    }
  }

  &:insensitive { color: insensitive(fg_color(w)); }

  &:backdrop {
    color: backdrop(fg_color(w));

    &:insensitive { color: backdrop(insensitive(fg_color(w))); }
  }

  &:selected {
    @extend %selected_items;
  }
}


.sidebar-item {
  padding: 10px 4px;
  > .label {
    padding-left: 6px;
    padding-right: 6px;
  }
  &.needs-attention > .label {
    @extend %needs_attention;
    background-size: 6px 6px, 0 0;
  }
}
