/**********
 * Switch *
 **********/

GtkSwitch {
  -GtkSwitch-slider-width: 30px;
  font-weight: bold;
  font-size: smaller;
  outline-offset: 0px;
  box-shadow: none; // needs to be set here
                                                    // otherwise it gets
                                                    // clipped
  &.trough {
    // similar to the .scale
    border: 1px solid border(normal);
    border-radius: $r;
    color: border(normal);
    background-image: none;
    background-color: transparent;
    text-shadow: none;
    &:active {
      color: border(active);
      border-color: border(active);
      box-shadow: none;
      text-shadow: none;
      &:hover { border-color: border(hover)}
    }
    &:hover {
	  border-color: border(hover);
	  }
    &:insensitive {
      color: insensitive(border(normal));
      border-color: insensitive(border(normal));
      background-image: none;
      box-shadow: none;
      text-shadow: none;
    }
    &:backdrop {
      color: backdrop(border(normal));
      border-color: backdrop(border(normal));
      &:insensitive {
        color: backdrop(insensitive(border(normal)));
        border-color: backdrop(insensitive(border(normal)));
      }
    }

  }

  &.slider {
    padding: 3px;
    border: 3px solid;
    border-radius: $r - 1px;
    border-color:transparentize(white,1);
    box-shadow: none;
    background-color: border(normal);
    &:hover {
      box-shadow: none;
    }
    &:active {
    background-color: border(active);
      &:hover { background-color: border(hover)}
    }
    &:insensitive { background-color: insensitive(border(normal)); }
    &:backdrop {
      background-color: backdrop(border(normal));
      &:insensitive {
        background-color: backdrop(insensitive(border(normal)));
      }
    }
  }
  .header-bar & {
    &.trough {
      &:backdrop {
        border-color: titlebar(fg, backdrop);
        color: titlebar(fg, backdrop);
      }
    }
    &.slider {
      &:backdrop {
        background-color: titlebar(fg, backdrop);
      }
    }
  }
}
