/************
 * Pathbars *
 ************/
.path-bar {
  background-color: window_color(fg);
  border-bottom: 1px solid border_color();
}

.path-bar button {
  @include button(undecorated);
  padding: 4px 6px;
  color: window_color(fg);
  &:hover {border-color: button_color(hover); }
  &:active, &:checked {
    background-color: border_color();
    font-weight: normal;
    }
  &.text-button, &.image-button, & {
    padding-left: 4px;
    padding-right: 4px;
  }

  &.text-button.image-button label {
    padding-left: 0;
    padding-right: 0;
  }

  &.text-button.image-button, & {
    label:last-child { padding-right: 6px; }
    label:first-child { padding-left: 6px; }
  }

  image {
    padding-left: 4px;
    padding-right: 4px;
  }

  &.slider-button {
    padding-left: 0;
    padding-right: 0;
  }
}
