/**********
 * Switch *
 **********/

switch {
 margin: 2px;
 font-weight: bold;
 font-size: smaller;
 min-width: 48px;
 min-height: 24px;
 border: 0px solid;
 border-radius: 12px;
 color: transparent;
 background-color: gtkalpha(button_color(fg),0.7);
 text-shadow: none;

 &:checked {
   background-color: selection_color(bg);
 }

 &:backdrop {
   background-color: gtkalpha(button_color(backdrop_fg),0.7);
   text-shadow: none;

   &:checked {
     background-color: selection_color(backdrop_bg);
   }
 }

 slider {
   min-width: 22px;
   min-height: 22px;
   border: 1px solid;
   border-radius: 11px;
   background-color: window_color(bg);
   border-color: border_color();
 }

 &:hover slider { border-color: button_color(hover); }

 &:disabled slider {
   background-color:window_color(disabled_bg);
 }

 &:backdrop {
   slider {
     background-color: window_color(backdrop_bg);
   }

   &:disabled slider { background-color: window_color(backdrop_disabled_bg); }
 }
}
