$Button_BackgroundAlternate:#bdc3c7;
$Button_BackgroundNormal:#eff0f1;
$Button_DecorationFocus:#3daee9;
$Button_DecorationHover:#93cee9;
$Button_ForegroundActive:#3daee9;
$Button_ForegroundInactive:#7f8c8d;
$Button_ForegroundLink:#2980b9;
$Button_ForegroundNegative:#da4453;
$Button_ForegroundNeutral:#f67400;
$Button_ForegroundNormal:#31363b;
$Button_ForegroundPositive:#27ae60;
$Button_ForegroundVisited:#7f8c8d;
$Selection_BackgroundAlternate:#1d99f3;
$Selection_BackgroundNormal:#3daee9;
$Selection_DecorationFocus:#3daee9;
$Selection_DecorationHover:#93cee9;
$Selection_ForegroundActive:#fcfcfc;
$Selection_ForegroundInactive:#eff0f1;
$Selection_ForegroundLink:#fdbc4b;
$Selection_ForegroundNegative:#da4453;
$Selection_ForegroundNeutral:#f67400;
$Selection_ForegroundNormal:#eff0f1;
$Selection_ForegroundPositive:#27ae60;
$Selection_ForegroundVisited:#bdc3c7;
$Tooltip_BackgroundAlternate:#4d4d4d;
$Tooltip_BackgroundNormal:#31363b;
$Tooltip_DecorationFocus:#3daee9;
$Tooltip_DecorationHover:#93cee9;
$Tooltip_ForegroundActive:#3daee9;
$Tooltip_ForegroundInactive:#bdc3c7;
$Tooltip_ForegroundLink:#2980b9;
$Tooltip_ForegroundNegative:#da4453;
$Tooltip_ForegroundNeutral:#f67400;
$Tooltip_ForegroundNormal:#eff0f1;
$Tooltip_ForegroundPositive:#27ae60;
$Tooltip_ForegroundVisited:#7f8c8d;
$View_BackgroundAlternate:#eff0f1;
$View_BackgroundNormal:#fcfcfc;
$View_DecorationFocus:#3daee9;
$View_DecorationHover:#93cee9;
$View_ForegroundActive:#3daee9;
$View_ForegroundInactive:#7f8c8d;
$View_ForegroundLink:#2980b9;
$View_ForegroundNegative:#da4453;
$View_ForegroundNeutral:#f67400;
$View_ForegroundNormal:#31363b;
$View_ForegroundPositive:#27ae60;
$View_ForegroundVisited:#7f8c8d;
$Window_BackgroundAlternate:#bdc3c7;
$Window_BackgroundNormal:#eff0f1;
$Window_DecorationFocus:#3daee9;
$Window_DecorationHover:#93cee9;
$Window_ForegroundActive:#3daee9;
$Window_ForegroundInactive:#7f8c8d;
$Window_ForegroundLink:#2980b9;
$Window_ForegroundNegative:#da4453;
$Window_ForegroundNeutral:#f67400;
$Window_ForegroundNormal:#31363b;
$Window_ForegroundPositive:#27ae60;
$Window_ForegroundVisited:#7f8c8d;
$WM_activeBackground:#475057;
$WM_activeBlend:#ffffff;
$WM_activeForeground:#eff0f1;
$WM_inactiveBackground:#eff0f1;
$WM_inactiveBlend:#4b4743;
$WM_inactiveForeground:#bdc3c7;
$Disabled_Color:#383838;
$Disabled_ColorAmount:0;
$Disabled_ColorEffect:0;
$Disabled_ContrastAmount:0.65;
$Disabled_ContrastEffect:1;
$Disabled_IntensityAmount:0.1;
$Disabled_IntensityEffect:2;
$Inactive_ChangeSelectionColor:true;
$Inactive_Color:#706f6e;
$Inactive_ColorAmount:0.025;
$Inactive_ColorEffect:2;
$Inactive_ContrastAmount:0.1;
$Inactive_ContrastEffect:2;
$Inactive_Enable:false;
$Inactive_IntensityAmount:0;
$Inactive_IntensityEffect:0;
