$Button_BackgroundAlternate:#888a85;
$Button_BackgroundNormal:#babdb7;
$Button_DecorationFocus:#555555;
$Button_DecorationHover:#f3c300;
$Button_ForegroundActive:#bf5c00;
$Button_ForegroundInactive:#755019;
$Button_ForegroundLink:#e85290;
$Button_ForegroundNegative:#bf0303;
$Button_ForegroundNeutral:#2b74c7;
$Button_ForegroundNormal:#000000;
$Button_ForegroundPositive:#00892b;
$Button_ForegroundVisited:#644a9b;
$Selection_BackgroundAlternate:#f3c300;
$Selection_BackgroundNormal:#e3aa00;
$Selection_DecorationFocus:#555555;
$Selection_DecorationHover:#f3c300;
$Selection_ForegroundActive:#bf5c00;
$Selection_ForegroundInactive:#ffeb55;
$Selection_ForegroundLink:#e85290;
$Selection_ForegroundNegative:#bf0303;
$Selection_ForegroundNeutral:#2b74c7;
$Selection_ForegroundNormal:#ffffff;
$Selection_ForegroundPositive:#00892b;
$Selection_ForegroundVisited:#644a9b;
$Tooltip_BackgroundAlternate:#ffeb55;
$Tooltip_BackgroundNormal:#fff299;
$Tooltip_DecorationFocus:#555555;
$Tooltip_DecorationHover:#f3c300;
$Tooltip_ForegroundActive:#bf5c00;
$Tooltip_ForegroundInactive:#755019;
$Tooltip_ForegroundLink:#e85290;
$Tooltip_ForegroundNegative:#bf0303;
$Tooltip_ForegroundNeutral:#2b74c7;
$Tooltip_ForegroundNormal:#403000;
$Tooltip_ForegroundPositive:#00892b;
$Tooltip_ForegroundVisited:#644a9b;
$View_BackgroundAlternate:#fffbe7;
$View_BackgroundNormal:#ffffff;
$View_DecorationFocus:#555555;
$View_DecorationHover:#f3c300;
$View_ForegroundActive:#bf5c00;
$View_ForegroundInactive:#755019;
$View_ForegroundLink:#e85290;
$View_ForegroundNegative:#bf0303;
$View_ForegroundNeutral:#2b74c7;
$View_ForegroundNormal:#000000;
$View_ForegroundPositive:#00892b;
$View_ForegroundVisited:#644a9b;
$Window_BackgroundAlternate:#babdb7;
$Window_BackgroundNormal:#d4d7d0;
$Window_DecorationFocus:#555555;
$Window_DecorationHover:#f3c300;
$Window_ForegroundActive:#bf5c00;
$Window_ForegroundInactive:#755019;
$Window_ForegroundLink:#e85290;
$Window_ForegroundNegative:#bf0303;
$Window_ForegroundNeutral:#2b74c7;
$Window_ForegroundNormal:#000000;
$Window_ForegroundPositive:#00892b;
$Window_ForegroundVisited:#644a9b;
$WM_activeBackground:#e3aa00;
$WM_activeBlend:#ffffff;
$WM_activeForeground:#ffffff;
$WM_inactiveBackground:#888a85;
$WM_inactiveBlend:#4b4743;
$WM_inactiveForeground:#2e3436;
$Disabled_Color:#302b1e;
$Disabled_ColorAmount:0.125;
$Disabled_ColorEffect:2;
$Disabled_ContrastAmount:0.5;
$Disabled_ContrastEffect:1;
$Disabled_IntensityAmount:0.05;
$Disabled_IntensityEffect:0;
$Inactive_ChangeSelectionColor:true;
$Inactive_Color:#e3aa00;
$Inactive_ColorAmount:0.025;
$Inactive_ColorEffect:2;
$Inactive_ContrastAmount:0.25;
$Inactive_ContrastEffect:1;
$Inactive_Enable:false;
$Inactive_IntensityAmount:0.05;
$Inactive_IntensityEffect:0;
