/***********
 * Dialogs *
 ***********/

// .message-dialog .dialog-action-area .button {
//   //padding: 8px;
// }

.message-dialog { // Message Dialog styling
  -GtkDialog-button-spacing: 8;
  -GtkDialog-action-area-border: 8;
    &.background { background-color: window_color(bg); }
    &:backdrop { background-color: window_color(backdrop_bg)}
  .titlebar {
    box-shadow: none;
  }
}

GtkFileChooserDialog {
  .search-bar {
    background-color: window_color(bg);
    border-color: window_color(bg);
    box-shadow: none;
    &:backdrop {
      background-color: window_color(backdrop_bg);
      border-color: window_color(backdrop_bg);
      color: window_color(backdrop_fg);
    }
  }
  .dialog-action-box {
    border-top: 1px solid border_color();
    &:backdrop { border-top-color: border_color(backdrop); }
  }
}
