/**********
 * Switch *
 **********/

GtkSwitch {
  -GtkSwitch-slider-width: 30px;
  font-weight: bold;
  font-size: smaller;
  outline-offset: 0px;
  box-shadow: none; // needs to be set here
                                                    // otherwise it gets
                                                    // clipped
  &.trough {
    // similar to the .scale
    border: 1px solid $border_color;
    border-radius: $r;
    color: $border_color;
    background-image: none;
    background-color: transparent;
    text-shadow: none;
    &:active {
      color: b_color(active);
      border-color: b_color(active);
      box-shadow: none;
      text-shadow: none;
      &:hover { border-color: b_color(hover)}
    }
    &:hover {
	  border-color: b_color(hover);
	  }
    &:insensitive {
      color: insensitive($border_color);
      border-color: insensitive($border_color);
      background-image: none;
      box-shadow: none;
      text-shadow: none;
    }
    &:backdrop {
      color: backdrop($border_color);
      border-color: backdrop($border_color);
      &:insensitive {
        color: backdrop(insensitive($border_color));
        border-color: backdrop(insensitive($border_color));
      }
    }

  }

  &.slider {
    padding: 3px;
    border: 3px solid;
    border-radius: $r - 1px;
    border-color:transparentize(white,1);
    box-shadow: none;
    background-color: $border_color;
    &:hover {
      box-shadow: none;
    }
    &:active {
    background-color: b_color(active);
      &:hover { background-color: b_color(hover)}
    }
    &:insensitive { background-color: insensitive($border_color); }
    &:backdrop {
      background-color: backdrop($border_color);
      &:insensitive {
        background-color: backdrop(insensitive($border_color));
      }
    }
  }
  .header-bar & {
    &.trough {
      &:backdrop {
        border-color: t_color(backdrop-text);
        color: t_color(backdrop-text);
      }
    }
    &.slider {
      &:backdrop {
        background-color: t_color(backdrop-text);
      }
    }
  }
}
