$ViewForegroundInactive:135,143,154;
$ViewForegroundNormal:rgb(210,222,240);
$WindowBackgroundAlternate:rgb(78,83,94);
$TooltipForegroundNeutral:rgb(86,78,45);
$WMinactiveForeground:rgb(140,152,168);
$ButtonDecorationHover:rgb(119,149,179);
$ButtonBackgroundAlternate:rgb(90,98,109);
$TooltipForegroundNormal:rgb(42,44,48);
$TooltipForegroundNegative:rgb(99,66,92);
$InactiveContrastAmount:0.25;
$DisabledIntensityAmount:0.25;
$DisabledContrastAmount:0.65;
$ViewBackgroundNormal:rgb(60,64,72);
$ButtonForegroundLink:rgb(156,212,255);
$WindowForegroundInactive:135,143,154;
$TooltipDecorationHover:rgb(119,149,179);
$TooltipBackgroundAlternate:rgb(171,181,195);
$InactiveColorEffect:0;
$SelectionDecorationHover:rgb(119,149,179);
$SelectionForegroundPositive:rgb(145,221,100);
$WindowForegroundVisited:rgb(64,128,255);
$TooltipBackgroundNormal:rgb(182,193,208);
$ButtonForegroundNegative:rgb(225,150,209);
$SelectionForegroundVisited:rgb(64,128,255);
$DisabledColor:rgb(56,56,56);
$TooltipForegroundLink:rgb(87,161,218);
$WindowForegroundNormal:rgb(182,193,208);
$SelectionForegroundActive:rgb(255,255,255);
$TooltipForegroundVisited:rgb(46,95,185);
$WindowDecorationFocus:rgb(125,141,153);
$ViewForegroundActive:rgb(255,255,255);
$DisabledIntensityEffect:2;
$ViewDecorationFocus:rgb(125,141,153);
$WMactiveBlend:rgb(255,255,255);
$DisabledColorAmount:0;
$DisabledContrastEffect:1;
$SelectionForegroundInactive:174,192,218;
$WindowForegroundNeutral:rgb(218,198,115);
$ViewForegroundVisited:rgb(64,128,255);
$InactiveEnable:false;
$WindowDecorationHover:rgb(119,149,179);
$WindowForegroundActive:rgb(255,255,255);
$WMactiveBackground:rgb(138,151,166);
$ButtonBackgroundNormal:rgb(82,88,99);
$InactiveChangeSelectionColor:true;
$SelectionForegroundNegative:rgb(225,150,209);
$WindowForegroundNegative:rgb(225,150,209);
$WindowForegroundLink:rgb(156,212,255);
$ButtonForegroundNormal:rgb(210,222,240);
$InactiveColor:rgb(112,111,110);
$ViewForegroundPositive:rgb(145,221,100);
$WMactiveForeground:rgb(224,237,255);
$WindowForegroundPositive:rgb(145,221,100);
$InactiveContrastEffect:2;
$WMinactiveBackground:rgb(82,89,99);
$InactiveColorAmount:0;
$ViewBackgroundAlternate:rgb(67,71,80);
$SelectionBackgroundNormal:rgb(120,136,156);
$ViewForegroundNegative:rgb(225,150,209);
$ButtonForegroundInactive:135,143,154;
$SelectionDecorationFocus:rgb(125,141,153);
$SelectionForegroundLink:rgb(156,212,255);
$ButtonForegroundActive:rgb(255,255,255);
$TooltipForegroundInactive:112,118,128;
$ButtonForegroundPositive:rgb(145,221,100);
$ViewDecorationHover:rgb(119,149,179);
$TooltipDecorationFocus:rgb(125,141,153);
$WMinactiveBlend:rgb(75,71,67);
$InactiveIntensityAmount:0.05;
$TooltipForegroundPositive:rgb(57,86,38);
$TooltipForegroundActive:rgb(255,255,255);
$ViewForegroundNeutral:rgb(218,198,115);
$DisabledColorEffect:0;
$InactiveIntensityEffect:2;
$SelectionForegroundNormal:rgb(209,225,244);
$ViewForegroundLink:rgb(156,212,255);
$ButtonDecorationFocus:rgb(125,141,153);
$ButtonForegroundVisited:rgb(64,128,255);
$SelectionForegroundNeutral:rgb(218,198,115);
$WindowBackgroundNormal:rgb(73,78,88);
$SelectionBackgroundAlternate:rgb(111,126,144);
$ButtonForegroundNeutral:rgb(218,198,115);
