$ViewForegroundInactive:127,140,141;
$ViewForegroundNormal:rgb(49,54,59);
$WindowBackgroundAlternate:rgb(189,195,199);
$TooltipForegroundNeutral:rgb(246,116,0);
$WMinactiveForeground:rgb(189,195,199);
$ButtonDecorationHover:rgb(147,206,233);
$ButtonBackgroundAlternate:rgb(189,195,199);
$TooltipForegroundNormal:rgb(239,240,241);
$TooltipForegroundNegative:rgb(218,68,83);
$InactiveContrastAmount:0.10000000000000001;
$DisabledIntensityAmount:0.10000000000000001;
$DisabledContrastAmount:0.65000000000000002;
$ViewBackgroundNormal:rgb(252,252,252);
$ButtonForegroundLink:rgb(41,128,185);
$WindowForegroundInactive:127,140,141;
$TooltipDecorationHover:rgb(147,206,233);
$TooltipBackgroundAlternate:rgb(77,77,77);
$InactiveColorEffect:2;
$SelectionDecorationHover:rgb(147,206,233);
$SelectionForegroundPositive:rgb(39,174,96);
$WindowForegroundVisited:rgb(127,140,141);
$TooltipBackgroundNormal:rgb(49,54,59);
$ButtonForegroundNegative:rgb(218,68,83);
$SelectionForegroundVisited:rgb(189,195,199);
$DisabledColor:rgb(56,56,56);
$TooltipForegroundLink:rgb(41,128,185);
$WindowForegroundNormal:rgb(49,54,59);
$SelectionForegroundActive:rgb(252,252,252);
$TooltipForegroundVisited:rgb(127,140,141);
$WindowDecorationFocus:rgb(61,174,233);
$ViewForegroundActive:rgb(61,174,233);
$DisabledIntensityEffect:2;
$ViewDecorationFocus:rgb(61,174,233);
$WMactiveBlend:rgb(255,255,255);
$DisabledColorAmount:0;
$DisabledContrastEffect:1;
$SelectionForegroundInactive:239,240,241;
$WindowForegroundNeutral:rgb(246,116,0);
$ViewForegroundVisited:rgb(127,140,141);
$InactiveEnable:false;
$WindowDecorationHover:rgb(147,206,233);
$WindowForegroundActive:rgb(61,174,233);
$WMactiveBackground:rgb(71,80,87);
$ButtonBackgroundNormal:rgb(239,240,241);
$InactiveChangeSelectionColor:true;
$SelectionForegroundNegative:rgb(218,68,83);
$WindowForegroundNegative:rgb(218,68,83);
$WindowForegroundLink:rgb(41,128,185);
$ButtonForegroundNormal:rgb(49,54,59);
$InactiveColor:rgb(112,111,110);
$ViewForegroundPositive:rgb(39,174,96);
$WMactiveForeground:rgb(239,240,241);
$WindowForegroundPositive:rgb(39,174,96);
$InactiveContrastEffect:2;
$WMinactiveBackground:rgb(239,240,241);
$InactiveColorAmount:0.025000000000000001;
$ViewBackgroundAlternate:rgb(239,240,241);
$SelectionBackgroundNormal:rgb(61,174,233);
$ViewForegroundNegative:rgb(218,68,83);
$ButtonForegroundInactive:127,140,141;
$SelectionDecorationFocus:rgb(61,174,233);
$SelectionForegroundLink:rgb(253,188,75);
$ButtonForegroundActive:rgb(61,174,233);
$TooltipForegroundInactive:189,195,199;
$ButtonForegroundPositive:rgb(39,174,96);
$ViewDecorationHover:rgb(147,206,233);
$TooltipDecorationFocus:rgb(61,174,233);
$WMinactiveBlend:rgb(75,71,67);
$InactiveIntensityAmount:0;
$TooltipForegroundPositive:rgb(39,174,96);
$TooltipForegroundActive:rgb(61,174,233);
$ViewForegroundNeutral:rgb(246,116,0);
$DisabledColorEffect:0;
$InactiveIntensityEffect:0;
$SelectionForegroundNormal:rgb(239,240,241);
$ViewForegroundLink:rgb(41,128,185);
$ButtonDecorationFocus:rgb(61,174,233);
$ButtonForegroundVisited:rgb(127,140,141);
$SelectionForegroundNeutral:rgb(246,116,0);
$WindowBackgroundNormal:rgb(239,240,241);
$SelectionBackgroundAlternate:rgb(29,153,243);
$ButtonForegroundNeutral:rgb(246,116,0);
